
<h1>Welcome Home</h1>
<p>Find me in app/views/pages/home.html.erb
<%= link_to "one month rails", "http://www.consignd.com" %>
</p>
<p> 
<%=link_to "Consignd.com", "http://onemonthrails.com" %>
</p>

